# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# IDEs and editors
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.keystore
**/*.jks

# iOS
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/AppFrameworkInfo.plist
ios/Runner.xcworkspace/
ios/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Web
web/.dart_tool/

# Environment files
.env
.env.*

# Coverage
coverage/

# Logs
*.log

# Others
*.swp
*.swo